Repository otunba-ola01/revolucare-wrlylc, changes with the owners that .github/CODEOWNERS names for each.
All owners: @revolucare/lead-developers, @revolucare/frontend-team, @revolucare/backend-team, @revolucare/database-team, @revolucare/ai-team, @revolucare/devops-team, @revolucare/tech-writers, @revolucare/security-team, @revolucare/qa-team

.github/CODEOWNERS:

# This file defines who is responsible for code in the repository
# Format: file_pattern @username_or_team

# Default owners for everything in the repo
* @revolucare/lead-developers

# Frontend code ownership
src/web/ @revolucare/frontend-team
src/web/components/ @revolucare/frontend-team
src/web/app/ @revolucare/frontend-team
src/web/lib/ @revolucare/frontend-team
src/web/hooks/ @revolucare/frontend-team
src/web/styles/ @revolucare/frontend-team
src/web/public/ @revolucare/frontend-team
src/web/types/ @revolucare/frontend-team @revolucare/backend-team

# Backend code ownership
src/backend/ @revolucare/backend-team
src/backend/src/api/ @revolucare/backend-team
src/backend/src/services/ @revolucare/backend-team
src/backend/src/models/ @revolucare/backend-team
src/backend/prisma/ @revolucare/backend-team @revolucare/database-team

# AI services ownership
src/backend/src/services/ai/ @revolucare/ai-team @revolucare/backend-team
src/backend/src/integrations/openai.ts @revolucare/ai-team
src/backend/src/integrations/azure-form-recognizer.ts @revolucare/ai-team

# Infrastructure and DevOps
infrastructure/ @revolucare/devops-team
.github/workflows/ @revolucare/devops-team
docker/ @revolucare/devops-team

# Documentation
*.md @revolucare/tech-writers @revolucare/lead-developers
docs/ @revolucare/tech-writers

# Security-sensitive areas
src/backend/src/config/ @revolucare/security-team @revolucare/backend-team
src/backend/src/utils/security.ts @revolucare/security-team
src/web/lib/auth/ @revolucare/security-team @revolucare/frontend-team

# Test files
src/backend/tests/ @revolucare/qa-team @revolucare/backend-team
src/web/__tests__/ @revolucare/qa-team @revolucare/frontend-team

# Package management
package.json @revolucare/lead-developers
package-lock.json @revolucare/lead-developers
src/web/package.json @revolucare/frontend-team @revolucare/lead-developers
src/backend/package.json @revolucare/backend-team @revolucare/lead-developers

# Configuration files
*.config.js @revolucare/lead-developers
*.config.ts @revolucare/lead-developers
.env.example @revolucare/security-team @revolucare/lead-developers

# This file
.github/CODEOWNERS @revolucare/lead-developers

Add public-samples/revolucare-wrlylc/src/backend/tests/mocks/storage.mock.ts
  src/backend/tests/mocks/storage.mock.ts
Owners: @revolucare/qa-team, @revolucare/backend-team

Add public-samples/revolucare-wrlylc/src/backend/tests/unit/controllers/analytics.controller.test.ts
  src/backend/tests/unit/controllers/analytics.controller.test.ts
Owners: @revolucare/qa-team, @revolucare/backend-team

Add public-samples/revolucare-wrlylc/src/backend/tests/unit/controllers/auth.controller.test.ts
  src/backend/tests/unit/controllers/auth.controller.test.ts
Owners: @revolucare/qa-team, @revolucare/backend-team

Add public-samples/revolucare-wrlylc/src/backend/tests/unit/controllers/care-plans.controller.test.ts
  src/backend/tests/unit/controllers/care-plans.controller.test.ts
Owners: @revolucare/qa-team, @revolucare/backend-team

Add public-samples/revolucare-wrlylc/src/backend/tests/unit/controllers/documents.controller.test.ts
  src/backend/tests/unit/controllers/documents.controller.test.ts
Owners: @revolucare/qa-team, @revolucare/backend-team

Add public-samples/revolucare-wrlylc/src/backend/tests/unit/controllers/notifications.controller.test.ts
  src/backend/tests/unit/controllers/notifications.controller.test.ts
Owners: @revolucare/qa-team, @revolucare/backend-team

Add public-samples/revolucare-wrlylc/src/backend/tests/unit/controllers/providers.controller.test.ts
  src/backend/tests/unit/controllers/providers.controller.test.ts
Owners: @revolucare/qa-team, @revolucare/backend-team

Add public-samples/revolucare-wrlylc/src/backend/tests/unit/controllers/services-plans.controller.test.ts
  src/backend/tests/unit/controllers/services-plans.controller.test.ts
Owners: @revolucare/qa-team, @revolucare/backend-team

Add public-samples/revolucare-wrlylc/src/backend/tests/unit/controllers/users.controller.test.ts
  src/backend/tests/unit/controllers/users.controller.test.ts
Owners: @revolucare/qa-team, @revolucare/backend-team

Add public-samples/revolucare-wrlylc/src/backend/tests/unit/services/analytics.service.test.ts
  src/backend/tests/unit/services/analytics.service.test.ts
Owners: @revolucare/qa-team, @revolucare/backend-team

Add public-samples/revolucare-wrlylc/src/backend/tests/unit/services/auth.service.test.ts
  src/backend/tests/unit/services/auth.service.test.ts
Owners: @revolucare/qa-team, @revolucare/backend-team

Add public-samples/revolucare-wrlylc/src/backend/tests/unit/services/care-plans.service.test.ts
  src/backend/tests/unit/services/care-plans.service.test.ts
Owners: @revolucare/qa-team, @revolucare/backend-team

Add public-samples/revolucare-wrlylc/src/backend/tests/unit/services/documents.service.test.ts
  src/backend/tests/unit/services/documents.service.test.ts
Owners: @revolucare/qa-team, @revolucare/backend-team

Add public-samples/revolucare-wrlylc/src/backend/tests/unit/services/notifications.service.test.ts
  src/backend/tests/unit/services/notifications.service.test.ts
Owners: @revolucare/qa-team, @revolucare/backend-team

Add public-samples/revolucare-wrlylc/src/backend/tests/unit/services/providers.service.test.ts
  src/backend/tests/unit/services/providers.service.test.ts
Owners: @revolucare/qa-team, @revolucare/backend-team

Add public-samples/revolucare-wrlylc/src/backend/tests/unit/services/services-plans.service.test.ts
  src/backend/tests/unit/services/services-plans.service.test.ts
Owners: @revolucare/qa-team, @revolucare/backend-team

Add public-samples/revolucare-wrlylc/src/backend/tests/unit/services/users.service.test.ts
  src/backend/tests/unit/services/users.service.test.ts
Owners: @revolucare/qa-team, @revolucare/backend-team

Add public-samples/revolucare-wrlylc/src/web/.eslintrc.json
  src/web/.eslintrc.json
Owners: @revolucare/frontend-team

Add public-samples/revolucare-wrlylc/src/web/.prettierrc
  src/web/.prettierrc
Owners: @revolucare/frontend-team

Add public-samples/revolucare-wrlylc/src/web/README.md
  src/web/README.md
Owners: @revolucare/tech-writers, @revolucare/lead-developers

Add public-samples/revolucare-wrlylc/src/web/jest.config.ts
  src/web/jest.config.ts
Owners: @revolucare/lead-developers

Add public-samples/revolucare-wrlylc/src/web/middleware.ts
  src/web/middleware.ts
Owners: @revolucare/frontend-team

Add public-samples/revolucare-wrlylc/src/web/next.config.js
  src/web/next.config.js
Owners: @revolucare/lead-developers

Add public-samples/revolucare-wrlylc/src/web/package.json
  src/web/package.json
Owners: @revolucare/frontend-team, @revolucare/lead-developers

Add public-samples/revolucare-wrlylc/src/web/playwright.config.ts
  src/web/playwright.config.ts
Owners: @revolucare/lead-developers

Add public-samples/revolucare-wrlylc/src/web/postcss.config.js
  src/web/postcss.config.js
Owners: @revolucare/lead-developers

Add public-samples/revolucare-wrlylc/src/web/tailwind.config.ts
  src/web/tailwind.config.ts
Owners: @revolucare/lead-developers

Add public-samples/revolucare-wrlylc/src/web/tsconfig.json
  src/web/tsconfig.json
Owners: @revolucare/frontend-team

Add public-samples/revolucare-wrlylc/src/web/__tests__/components/auth/login-form.test.tsx
  src/web/__tests__/components/auth/login-form.test.tsx
Owners: @revolucare/qa-team, @revolucare/frontend-team

Add public-samples/revolucare-wrlylc/src/web/__tests__/components/layout/header.test.tsx
  src/web/__tests__/components/layout/header.test.tsx
Owners: @revolucare/qa-team, @revolucare/frontend-team

Add public-samples/revolucare-wrlylc/src/web/__tests__/components/ui/button.test.tsx
  src/web/__tests__/components/ui/button.test.tsx
Owners: @revolucare/qa-team, @revolucare/frontend-team

Add public-samples/revolucare-wrlylc/src/web/__tests__/hooks/use-auth.test.ts
  src/web/__tests__/hooks/use-auth.test.ts
Owners: @revolucare/qa-team, @revolucare/frontend-team

Add public-samples/revolucare-wrlylc/src/web/__tests__/pages/dashboard.test.tsx
  src/web/__tests__/pages/dashboard.test.tsx
Owners: @revolucare/qa-team, @revolucare/frontend-team

Add public-samples/revolucare-wrlylc/src/web/__tests__/utils/format.test.ts
  src/web/__tests__/utils/format.test.ts
Owners: @revolucare/qa-team, @revolucare/frontend-team

Add public-samples/revolucare-wrlylc/src/web/app/error.tsx
  src/web/app/error.tsx
Owners: @revolucare/frontend-team

Add public-samples/revolucare-wrlylc/src/web/app/globals.css
  src/web/app/globals.css
Owners: @revolucare/frontend-team

Add public-samples/revolucare-wrlylc/src/web/app/layout.tsx
  src/web/app/layout.tsx
Owners: @revolucare/frontend-team

Add public-samples/revolucare-wrlylc/src/web/app/loading.tsx
  src/web/app/loading.tsx
Owners: @revolucare/frontend-team

Add public-samples/revolucare-wrlylc/src/web/app/not-found.tsx
  src/web/app/not-found.tsx
Owners: @revolucare/frontend-team

Add public-samples/revolucare-wrlylc/src/web/app/page.tsx
  src/web/app/page.tsx
Owners: @revolucare/frontend-team
