Repository otunba-ola01/revolucare-wrlylc, changes with the owners that .github/CODEOWNERS names for each.
All owners: @revolucare/lead-developers, @revolucare/frontend-team, @revolucare/backend-team, @revolucare/database-team, @revolucare/ai-team, @revolucare/devops-team, @revolucare/tech-writers, @revolucare/security-team, @revolucare/qa-team

Add public-samples/revolucare-wrlylc/src/backend/src/config/database.ts
  src/backend/src/config/database.ts
Owners: @revolucare/security-team, @revolucare/backend-team

Add public-samples/revolucare-wrlylc/src/backend/src/config/email.ts
  src/backend/src/config/email.ts
Owners: @revolucare/security-team, @revolucare/backend-team

Add public-samples/revolucare-wrlylc/src/backend/src/config/logger.ts
  src/backend/src/config/logger.ts
Owners: @revolucare/security-team, @revolucare/backend-team

Add public-samples/revolucare-wrlylc/src/backend/src/config/payment.ts
  src/backend/src/config/payment.ts
Owners: @revolucare/security-team, @revolucare/backend-team

Add public-samples/revolucare-wrlylc/src/backend/src/config/redis.ts
  src/backend/src/config/redis.ts
Owners: @revolucare/security-team, @revolucare/backend-team

Add public-samples/revolucare-wrlylc/src/backend/src/config/sms.ts
  src/backend/src/config/sms.ts
Owners: @revolucare/security-team, @revolucare/backend-team

Add public-samples/revolucare-wrlylc/src/backend/src/config/storage.ts
  src/backend/src/config/storage.ts
Owners: @revolucare/security-team, @revolucare/backend-team

Add public-samples/revolucare-wrlylc/src/backend/src/constants/document-types.ts
  src/backend/src/constants/document-types.ts
Owners: @revolucare/backend-team

Add public-samples/revolucare-wrlylc/src/backend/src/constants/error-codes.ts
  src/backend/src/constants/error-codes.ts
Owners: @revolucare/backend-team

Add public-samples/revolucare-wrlylc/src/backend/src/constants/metrics.ts
  src/backend/src/constants/metrics.ts
Owners: @revolucare/backend-team

Add public-samples/revolucare-wrlylc/src/backend/src/constants/notification-types.ts
  src/backend/src/constants/notification-types.ts
Owners: @revolucare/backend-team

Add public-samples/revolucare-wrlylc/src/backend/src/constants/plan-statuses.ts
  src/backend/src/constants/plan-statuses.ts
Owners: @revolucare/backend-team

Add public-samples/revolucare-wrlylc/src/backend/src/constants/roles.ts
  src/backend/src/constants/roles.ts
Owners: @revolucare/backend-team

Add public-samples/revolucare-wrlylc/src/backend/src/constants/service-types.ts
  src/backend/src/constants/service-types.ts
Owners: @revolucare/backend-team

Add public-samples/revolucare-wrlylc/src/backend/src/events/index.ts
  src/backend/src/events/index.ts
Owners: @revolucare/backend-team

Add public-samples/revolucare-wrlylc/src/backend/src/events/handlers/auth.handler.ts
  src/backend/src/events/handlers/auth.handler.ts
Owners: @revolucare/backend-team

Add public-samples/revolucare-wrlylc/src/backend/src/events/handlers/care-plan.handler.ts
  src/backend/src/events/handlers/care-plan.handler.ts
Owners: @revolucare/backend-team

Add public-samples/revolucare-wrlylc/src/backend/src/events/handlers/document.handler.ts
  src/backend/src/events/handlers/document.handler.ts
Owners: @revolucare/backend-team

Add public-samples/revolucare-wrlylc/src/backend/src/events/handlers/notification.handler.ts
  src/backend/src/events/handlers/notification.handler.ts
Owners: @revolucare/backend-team

Add public-samples/revolucare-wrlylc/src/backend/src/events/handlers/provider.handler.ts
  src/backend/src/events/handlers/provider.handler.ts
Owners: @revolucare/backend-team

Add public-samples/revolucare-wrlylc/src/backend/src/events/handlers/services-plan.handler.ts
  src/backend/src/events/handlers/services-plan.handler.ts
Owners: @revolucare/backend-team

Add public-samples/revolucare-wrlylc/src/backend/src/events/subscribers/auth.subscriber.ts
  src/backend/src/events/subscribers/auth.subscriber.ts
Owners: @revolucare/backend-team

Add public-samples/revolucare-wrlylc/src/backend/src/events/subscribers/care-plan.subscriber.ts
  src/backend/src/events/subscribers/care-plan.subscriber.ts
Owners: @revolucare/backend-team

Add public-samples/revolucare-wrlylc/src/backend/src/events/subscribers/document.subscriber.ts
  src/backend/src/events/subscribers/document.subscriber.ts
Owners: @revolucare/backend-team

Add public-samples/revolucare-wrlylc/src/backend/src/events/subscribers/notification.subscriber.ts
  src/backend/src/events/subscribers/notification.subscriber.ts
Owners: @revolucare/backend-team

Add public-samples/revolucare-wrlylc/src/backend/src/events/subscribers/provider.subscriber.ts
  src/backend/src/events/subscribers/provider.subscriber.ts
Owners: @revolucare/backend-team

Add public-samples/revolucare-wrlylc/src/backend/src/events/subscribers/services-plan.subscriber.ts
  src/backend/src/events/subscribers/services-plan.subscriber.ts
Owners: @revolucare/backend-team

Add public-samples/revolucare-wrlylc/src/backend/src/integrations/azure-form-recognizer.ts
  src/backend/src/integrations/azure-form-recognizer.ts
Owners: @revolucare/ai-team

Add public-samples/revolucare-wrlylc/src/backend/src/integrations/google-calendar.ts
  src/backend/src/integrations/google-calendar.ts
Owners: @revolucare/backend-team

Add public-samples/revolucare-wrlylc/src/backend/src/integrations/google-maps.ts
  src/backend/src/integrations/google-maps.ts
Owners: @revolucare/backend-team

Add public-samples/revolucare-wrlylc/src/backend/src/integrations/microsoft-graph.ts
  src/backend/src/integrations/microsoft-graph.ts
Owners: @revolucare/backend-team

Add public-samples/revolucare-wrlylc/src/backend/src/integrations/openai.ts
  src/backend/src/integrations/openai.ts
Owners: @revolucare/ai-team

Add public-samples/revolucare-wrlylc/src/backend/src/integrations/sendgrid.ts
  src/backend/src/integrations/sendgrid.ts
Owners: @revolucare/backend-team

Add public-samples/revolucare-wrlylc/src/backend/src/integrations/stripe.ts
  src/backend/src/integrations/stripe.ts
Owners: @revolucare/backend-team

Add public-samples/revolucare-wrlylc/src/backend/src/integrations/twilio.ts
  src/backend/src/integrations/twilio.ts
Owners: @revolucare/backend-team

Add public-samples/revolucare-wrlylc/src/backend/src/interfaces/analytics.interface.ts
  src/backend/src/interfaces/analytics.interface.ts
Owners: @revolucare/backend-team

Add public-samples/revolucare-wrlylc/src/backend/src/interfaces/auth.interface.ts
  src/backend/src/interfaces/auth.interface.ts
Owners: @revolucare/backend-team

Add public-samples/revolucare-wrlylc/src/backend/src/interfaces/care-plan.interface.ts
  src/backend/src/interfaces/care-plan.interface.ts
Owners: @revolucare/backend-team

Add public-samples/revolucare-wrlylc/src/backend/src/interfaces/document.interface.ts
  src/backend/src/interfaces/document.interface.ts
Owners: @revolucare/backend-team

Add public-samples/revolucare-wrlylc/src/backend/src/interfaces/error.interface.ts
  src/backend/src/interfaces/error.interface.ts
Owners: @revolucare/backend-team

.github/CODEOWNERS:

# This file defines who is responsible for code in the repository
# Format: file_pattern @username_or_team

# Default owners for everything in the repo
* @revolucare/lead-developers

# Frontend code ownership
src/web/ @revolucare/frontend-team
src/web/components/ @revolucare/frontend-team
src/web/app/ @revolucare/frontend-team
src/web/lib/ @revolucare/frontend-team
src/web/hooks/ @revolucare/frontend-team
src/web/styles/ @revolucare/frontend-team
src/web/public/ @revolucare/frontend-team
src/web/types/ @revolucare/frontend-team @revolucare/backend-team

# Backend code ownership
src/backend/ @revolucare/backend-team
src/backend/src/api/ @revolucare/backend-team
src/backend/src/services/ @revolucare/backend-team
src/backend/src/models/ @revolucare/backend-team
src/backend/prisma/ @revolucare/backend-team @revolucare/database-team

# AI services ownership
src/backend/src/services/ai/ @revolucare/ai-team @revolucare/backend-team
src/backend/src/integrations/openai.ts @revolucare/ai-team
src/backend/src/integrations/azure-form-recognizer.ts @revolucare/ai-team

# Infrastructure and DevOps
infrastructure/ @revolucare/devops-team
.github/workflows/ @revolucare/devops-team
docker/ @revolucare/devops-team

# Documentation
*.md @revolucare/tech-writers @revolucare/lead-developers
docs/ @revolucare/tech-writers

# Security-sensitive areas
src/backend/src/config/ @revolucare/security-team @revolucare/backend-team
src/backend/src/utils/security.ts @revolucare/security-team
src/web/lib/auth/ @revolucare/security-team @revolucare/frontend-team

# Test files
src/backend/tests/ @revolucare/qa-team @revolucare/backend-team
src/web/__tests__/ @revolucare/qa-team @revolucare/frontend-team

# Package management
package.json @revolucare/lead-developers
package-lock.json @revolucare/lead-developers
src/web/package.json @revolucare/frontend-team @revolucare/lead-developers
src/backend/package.json @revolucare/backend-team @revolucare/lead-developers

# Configuration files
*.config.js @revolucare/lead-developers
*.config.ts @revolucare/lead-developers
.env.example @revolucare/security-team @revolucare/lead-developers

# This file
.github/CODEOWNERS @revolucare/lead-developers
