Repository otunba-ola01/revolucare-wrlylc, changes with the owners that .github/CODEOWNERS names for each.
All owners: @revolucare/lead-developers, @revolucare/frontend-team, @revolucare/backend-team, @revolucare/database-team, @revolucare/ai-team, @revolucare/devops-team, @revolucare/tech-writers, @revolucare/security-team, @revolucare/qa-team

.github/CODEOWNERS:

# This file defines who is responsible for code in the repository
# Format: file_pattern @username_or_team

# Default owners for everything in the repo
* @revolucare/lead-developers

# Frontend code ownership
src/web/ @revolucare/frontend-team
src/web/components/ @revolucare/frontend-team
src/web/app/ @revolucare/frontend-team
src/web/lib/ @revolucare/frontend-team
src/web/hooks/ @revolucare/frontend-team
src/web/styles/ @revolucare/frontend-team
src/web/public/ @revolucare/frontend-team
src/web/types/ @revolucare/frontend-team @revolucare/backend-team

# Backend code ownership
src/backend/ @revolucare/backend-team
src/backend/src/api/ @revolucare/backend-team
src/backend/src/services/ @revolucare/backend-team
src/backend/src/models/ @revolucare/backend-team
src/backend/prisma/ @revolucare/backend-team @revolucare/database-team

# AI services ownership
src/backend/src/services/ai/ @revolucare/ai-team @revolucare/backend-team
src/backend/src/integrations/openai.ts @revolucare/ai-team
src/backend/src/integrations/azure-form-recognizer.ts @revolucare/ai-team

# Infrastructure and DevOps
infrastructure/ @revolucare/devops-team
.github/workflows/ @revolucare/devops-team
docker/ @revolucare/devops-team

# Documentation
*.md @revolucare/tech-writers @revolucare/lead-developers
docs/ @revolucare/tech-writers

# Security-sensitive areas
src/backend/src/config/ @revolucare/security-team @revolucare/backend-team
src/backend/src/utils/security.ts @revolucare/security-team
src/web/lib/auth/ @revolucare/security-team @revolucare/frontend-team

# Test files
src/backend/tests/ @revolucare/qa-team @revolucare/backend-team
src/web/__tests__/ @revolucare/qa-team @revolucare/frontend-team

# Package management
package.json @revolucare/lead-developers
package-lock.json @revolucare/lead-developers
src/web/package.json @revolucare/frontend-team @revolucare/lead-developers
src/backend/package.json @revolucare/backend-team @revolucare/lead-developers

# Configuration files
*.config.js @revolucare/lead-developers
*.config.ts @revolucare/lead-developers
.env.example @revolucare/security-team @revolucare/lead-developers

# This file
.github/CODEOWNERS @revolucare/lead-developers

Add public-samples/revolucare-wrlylc/.github/PULL_REQUEST_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.md
Owners: @revolucare/tech-writers, @revolucare/lead-developers

Add public-samples/revolucare-wrlylc/.github/dependabot.yml
  .github/dependabot.yml
Owners: @revolucare/lead-developers

Add public-samples/revolucare-wrlylc/.github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/bug_report.md
Owners: @revolucare/tech-writers, @revolucare/lead-developers

Add public-samples/revolucare-wrlylc/.github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/feature_request.md
Owners: @revolucare/tech-writers, @revolucare/lead-developers

Add public-samples/revolucare-wrlylc/.github/ISSUE_TEMPLATE/question.md
  .github/ISSUE_TEMPLATE/question.md
Owners: @revolucare/tech-writers, @revolucare/lead-developers

Add public-samples/revolucare-wrlylc/.github/workflows/backend-ci.yml
  .github/workflows/backend-ci.yml
Owners: @revolucare/devops-team

Add public-samples/revolucare-wrlylc/.github/workflows/deploy-dev.yml
  .github/workflows/deploy-dev.yml
Owners: @revolucare/devops-team

Add public-samples/revolucare-wrlylc/.github/workflows/deploy-prod.yml
  .github/workflows/deploy-prod.yml
Owners: @revolucare/devops-team

Add public-samples/revolucare-wrlylc/.github/workflows/deploy-staging.yml
  .github/workflows/deploy-staging.yml
Owners: @revolucare/devops-team

Add public-samples/revolucare-wrlylc/.github/workflows/infrastructure-ci.yml
  .github/workflows/infrastructure-ci.yml
Owners: @revolucare/devops-team

Add public-samples/revolucare-wrlylc/.github/workflows/web-ci.yml
  .github/workflows/web-ci.yml
Owners: @revolucare/devops-team

Add public-samples/revolucare-wrlylc/blitzy/documentation/Input Prompt.md
  blitzy/documentation/Input Prompt.md
Owners: @revolucare/tech-writers, @revolucare/lead-developers

Add public-samples/revolucare-wrlylc/blitzy/documentation/Project Guide.md
  blitzy/documentation/Project Guide.md
Owners: @revolucare/tech-writers, @revolucare/lead-developers

Add public-samples/revolucare-wrlylc/blitzy/documentation/Technical Specifications.md
  blitzy/documentation/Technical Specifications.md
Owners: @revolucare/tech-writers, @revolucare/lead-developers

Add public-samples/revolucare-wrlylc/infrastructure/README.md
  infrastructure/README.md
Owners: @revolucare/tech-writers, @revolucare/lead-developers

Add public-samples/revolucare-wrlylc/infrastructure/ci-cd/appspec.yaml
  infrastructure/ci-cd/appspec.yaml
Owners: @revolucare/devops-team

Add public-samples/revolucare-wrlylc/infrastructure/ci-cd/buildspec.yml
  infrastructure/ci-cd/buildspec.yml
Owners: @revolucare/devops-team

Add public-samples/revolucare-wrlylc/infrastructure/ci-cd/taskdef.json
  infrastructure/ci-cd/taskdef.json
Owners: @revolucare/devops-team

Add public-samples/revolucare-wrlylc/infrastructure/database/backup/backup-job.yaml
  infrastructure/database/backup/backup-job.yaml
Owners: @revolucare/devops-team

Add public-samples/revolucare-wrlylc/infrastructure/database/migrations/V1__initial_schema.sql
  infrastructure/database/migrations/V1__initial_schema.sql
Owners: @revolucare/devops-team

Add public-samples/revolucare-wrlylc/infrastructure/database/migrations/V2__seed_data.sql
  infrastructure/database/migrations/V2__seed_data.sql
Owners: @revolucare/devops-team

Add public-samples/revolucare-wrlylc/infrastructure/docker/backend/.dockerignore
  infrastructure/docker/backend/.dockerignore
Owners: @revolucare/devops-team

Add public-samples/revolucare-wrlylc/infrastructure/docker/backend/Dockerfile
  infrastructure/docker/backend/Dockerfile
Owners: @revolucare/devops-team

Add public-samples/revolucare-wrlylc/infrastructure/docker/backend/docker-compose.yml
  infrastructure/docker/backend/docker-compose.yml
Owners: @revolucare/devops-team

Add public-samples/revolucare-wrlylc/infrastructure/docker/web/.dockerignore
  infrastructure/docker/web/.dockerignore
Owners: @revolucare/devops-team

Add public-samples/revolucare-wrlylc/infrastructure/docker/web/Dockerfile
  infrastructure/docker/web/Dockerfile
Owners: @revolucare/devops-team

Add public-samples/revolucare-wrlylc/infrastructure/docker/web/nginx.conf
  infrastructure/docker/web/nginx.conf
Owners: @revolucare/devops-team

Add public-samples/revolucare-wrlylc/infrastructure/environments/dev/.env.example
  infrastructure/environments/dev/.env.example
Owners: @revolucare/security-team, @revolucare/lead-developers

Add public-samples/revolucare-wrlylc/infrastructure/environments/dev/secrets.example.json
  infrastructure/environments/dev/secrets.example.json
Owners: @revolucare/devops-team

Add public-samples/revolucare-wrlylc/infrastructure/environments/prod/.env.example
  infrastructure/environments/prod/.env.example
Owners: @revolucare/security-team, @revolucare/lead-developers

Add public-samples/revolucare-wrlylc/infrastructure/environments/prod/secrets.example.json
  infrastructure/environments/prod/secrets.example.json
Owners: @revolucare/devops-team

Add public-samples/revolucare-wrlylc/infrastructure/environments/staging/.env.example
  infrastructure/environments/staging/.env.example
Owners: @revolucare/security-team, @revolucare/lead-developers

Add public-samples/revolucare-wrlylc/infrastructure/environments/staging/secrets.example.json
  infrastructure/environments/staging/secrets.example.json
Owners: @revolucare/devops-team

Add public-samples/revolucare-wrlylc/infrastructure/kubernetes/configmaps/backend-config.yaml
  infrastructure/kubernetes/configmaps/backend-config.yaml
Owners: @revolucare/devops-team

Add public-samples/revolucare-wrlylc/infrastructure/kubernetes/configmaps/web-config.yaml
  infrastructure/kubernetes/configmaps/web-config.yaml
Owners: @revolucare/devops-team

Add public-samples/revolucare-wrlylc/infrastructure/kubernetes/deployments/backend.yaml
  infrastructure/kubernetes/deployments/backend.yaml
Owners: @revolucare/devops-team

Add public-samples/revolucare-wrlylc/infrastructure/kubernetes/deployments/web.yaml
  infrastructure/kubernetes/deployments/web.yaml
Owners: @revolucare/devops-team

Add public-samples/revolucare-wrlylc/infrastructure/kubernetes/ingress/ingress.yaml
  infrastructure/kubernetes/ingress/ingress.yaml
Owners: @revolucare/devops-team

Add public-samples/revolucare-wrlylc/infrastructure/kubernetes/secrets/backend-secrets.yaml
  infrastructure/kubernetes/secrets/backend-secrets.yaml
Owners: @revolucare/devops-team

Add public-samples/revolucare-wrlylc/infrastructure/kubernetes/secrets/web-secrets.yaml
  infrastructure/kubernetes/secrets/web-secrets.yaml
Owners: @revolucare/devops-team
