Repository otunba-ola01/revolucare-wrlylc, changes with the owners that .github/CODEOWNERS names for each.
All owners: @revolucare/lead-developers, @revolucare/frontend-team, @revolucare/backend-team, @revolucare/database-team, @revolucare/ai-team, @revolucare/devops-team, @revolucare/tech-writers, @revolucare/security-team, @revolucare/qa-team

.github/CODEOWNERS:

# This file defines who is responsible for code in the repository
# Format: file_pattern @username_or_team

# Default owners for everything in the repo
* @revolucare/lead-developers

# Frontend code ownership
src/web/ @revolucare/frontend-team
src/web/components/ @revolucare/frontend-team
src/web/app/ @revolucare/frontend-team
src/web/lib/ @revolucare/frontend-team
src/web/hooks/ @revolucare/frontend-team
src/web/styles/ @revolucare/frontend-team
src/web/public/ @revolucare/frontend-team
src/web/types/ @revolucare/frontend-team @revolucare/backend-team

# Backend code ownership
src/backend/ @revolucare/backend-team
src/backend/src/api/ @revolucare/backend-team
src/backend/src/services/ @revolucare/backend-team
src/backend/src/models/ @revolucare/backend-team
src/backend/prisma/ @revolucare/backend-team @revolucare/database-team

# AI services ownership
src/backend/src/services/ai/ @revolucare/ai-team @revolucare/backend-team
src/backend/src/integrations/openai.ts @revolucare/ai-team
src/backend/src/integrations/azure-form-recognizer.ts @revolucare/ai-team

# Infrastructure and DevOps
infrastructure/ @revolucare/devops-team
.github/workflows/ @revolucare/devops-team
docker/ @revolucare/devops-team

# Documentation
*.md @revolucare/tech-writers @revolucare/lead-developers
docs/ @revolucare/tech-writers

# Security-sensitive areas
src/backend/src/config/ @revolucare/security-team @revolucare/backend-team
src/backend/src/utils/security.ts @revolucare/security-team
src/web/lib/auth/ @revolucare/security-team @revolucare/frontend-team

# Test files
src/backend/tests/ @revolucare/qa-team @revolucare/backend-team
src/web/__tests__/ @revolucare/qa-team @revolucare/frontend-team

# Package management
package.json @revolucare/lead-developers
package-lock.json @revolucare/lead-developers
src/web/package.json @revolucare/frontend-team @revolucare/lead-developers
src/backend/package.json @revolucare/backend-team @revolucare/lead-developers

# Configuration files
*.config.js @revolucare/lead-developers
*.config.ts @revolucare/lead-developers
.env.example @revolucare/security-team @revolucare/lead-developers

# This file
.github/CODEOWNERS @revolucare/lead-developers

Add public-samples/revolucare-wrlylc/infrastructure/kubernetes/services/backend.yaml
  infrastructure/kubernetes/services/backend.yaml
Owners: @revolucare/devops-team

Add public-samples/revolucare-wrlylc/infrastructure/kubernetes/services/web.yaml
  infrastructure/kubernetes/services/web.yaml
Owners: @revolucare/devops-team

Add public-samples/revolucare-wrlylc/infrastructure/monitoring/grafana/dashboards/application-metrics.json
  infrastructure/monitoring/grafana/dashboards/application-metrics.json
Owners: @revolucare/devops-team

Add public-samples/revolucare-wrlylc/infrastructure/monitoring/grafana/dashboards/business-metrics.json
  infrastructure/monitoring/grafana/dashboards/business-metrics.json
Owners: @revolucare/devops-team

Add public-samples/revolucare-wrlylc/infrastructure/monitoring/grafana/dashboards/system-overview.json
  infrastructure/monitoring/grafana/dashboards/system-overview.json
Owners: @revolucare/devops-team

Add public-samples/revolucare-wrlylc/infrastructure/monitoring/grafana/datasources/prometheus.yaml
  infrastructure/monitoring/grafana/datasources/prometheus.yaml
Owners: @revolucare/devops-team

Add public-samples/revolucare-wrlylc/infrastructure/monitoring/loki/loki.yaml
  infrastructure/monitoring/loki/loki.yaml
Owners: @revolucare/devops-team

Add public-samples/revolucare-wrlylc/infrastructure/monitoring/prometheus/alert-rules.yml
  infrastructure/monitoring/prometheus/alert-rules.yml
Owners: @revolucare/devops-team

Add public-samples/revolucare-wrlylc/infrastructure/monitoring/prometheus/prometheus.yml
  infrastructure/monitoring/prometheus/prometheus.yml
Owners: @revolucare/devops-team

Add public-samples/revolucare-wrlylc/infrastructure/pulumi/Pulumi.dev.yaml
  infrastructure/pulumi/Pulumi.dev.yaml
Owners: @revolucare/devops-team

Add public-samples/revolucare-wrlylc/infrastructure/pulumi/Pulumi.prod.yaml
  infrastructure/pulumi/Pulumi.prod.yaml
Owners: @revolucare/devops-team

Add public-samples/revolucare-wrlylc/infrastructure/pulumi/Pulumi.staging.yaml
  infrastructure/pulumi/Pulumi.staging.yaml
Owners: @revolucare/devops-team

Add public-samples/revolucare-wrlylc/infrastructure/pulumi/Pulumi.yaml
  infrastructure/pulumi/Pulumi.yaml
Owners: @revolucare/devops-team

Add public-samples/revolucare-wrlylc/infrastructure/pulumi/index.ts
  infrastructure/pulumi/index.ts
Owners: @revolucare/devops-team

Add public-samples/revolucare-wrlylc/infrastructure/pulumi/package.json
  infrastructure/pulumi/package.json
Owners: @revolucare/lead-developers

Add public-samples/revolucare-wrlylc/infrastructure/pulumi/tsconfig.json
  infrastructure/pulumi/tsconfig.json
Owners: @revolucare/devops-team

Add public-samples/revolucare-wrlylc/infrastructure/pulumi/components/compute.ts
  infrastructure/pulumi/components/compute.ts
Owners: @revolucare/devops-team

Add public-samples/revolucare-wrlylc/infrastructure/pulumi/components/database.ts
  infrastructure/pulumi/components/database.ts
Owners: @revolucare/devops-team

Add public-samples/revolucare-wrlylc/infrastructure/pulumi/components/monitoring.ts
  infrastructure/pulumi/components/monitoring.ts
Owners: @revolucare/devops-team

Add public-samples/revolucare-wrlylc/infrastructure/pulumi/components/networking.ts
  infrastructure/pulumi/components/networking.ts
Owners: @revolucare/devops-team

Add public-samples/revolucare-wrlylc/infrastructure/pulumi/components/security.ts
  infrastructure/pulumi/components/security.ts
Owners: @revolucare/devops-team

Add public-samples/revolucare-wrlylc/infrastructure/pulumi/components/storage.ts
  infrastructure/pulumi/components/storage.ts
Owners: @revolucare/devops-team

Add public-samples/revolucare-wrlylc/infrastructure/scripts/backup.sh
  infrastructure/scripts/backup.sh
Owners: @revolucare/devops-team

Add public-samples/revolucare-wrlylc/infrastructure/scripts/health-check.sh
  infrastructure/scripts/health-check.sh
Owners: @revolucare/devops-team

Add public-samples/revolucare-wrlylc/infrastructure/scripts/monitoring-setup.sh
  infrastructure/scripts/monitoring-setup.sh
Owners: @revolucare/devops-team

Add public-samples/revolucare-wrlylc/infrastructure/scripts/restore.sh
  infrastructure/scripts/restore.sh
Owners: @revolucare/devops-team

Add public-samples/revolucare-wrlylc/infrastructure/scripts/seed-data.sh
  infrastructure/scripts/seed-data.sh
Owners: @revolucare/devops-team

Add public-samples/revolucare-wrlylc/infrastructure/security/certificates/cert-manager.yaml
  infrastructure/security/certificates/cert-manager.yaml
Owners: @revolucare/devops-team

Add public-samples/revolucare-wrlylc/infrastructure/security/policies/iam-policies.json
  infrastructure/security/policies/iam-policies.json
Owners: @revolucare/devops-team

Add public-samples/revolucare-wrlylc/infrastructure/security/policies/network-policies.yaml
  infrastructure/security/policies/network-policies.yaml
Owners: @revolucare/devops-team

Add public-samples/revolucare-wrlylc/src/backend/.env.example
  src/backend/.env.example
Owners: @revolucare/security-team, @revolucare/lead-developers

Add public-samples/revolucare-wrlylc/src/backend/.eslintrc.json
  src/backend/.eslintrc.json
Owners: @revolucare/backend-team

Add public-samples/revolucare-wrlylc/src/backend/.prettierrc
  src/backend/.prettierrc
Owners: @revolucare/backend-team

Add public-samples/revolucare-wrlylc/src/backend/README.md
  src/backend/README.md
Owners: @revolucare/tech-writers, @revolucare/lead-developers

Add public-samples/revolucare-wrlylc/src/backend/jest.config.ts
  src/backend/jest.config.ts
Owners: @revolucare/lead-developers

Add public-samples/revolucare-wrlylc/src/backend/nodemon.json
  src/backend/nodemon.json
Owners: @revolucare/backend-team

Add public-samples/revolucare-wrlylc/src/backend/package.json
  src/backend/package.json
Owners: @revolucare/backend-team, @revolucare/lead-developers

Add public-samples/revolucare-wrlylc/src/backend/tsconfig.json
  src/backend/tsconfig.json
Owners: @revolucare/backend-team

Add public-samples/revolucare-wrlylc/src/backend/prisma/seed.ts
  src/backend/prisma/seed.ts
Owners: @revolucare/backend-team, @revolucare/database-team

Add public-samples/revolucare-wrlylc/src/backend/src/index.ts
  src/backend/src/index.ts
Owners: @revolucare/backend-team
