Repository otunba-ola01/revolucare-wrlylc, changes with the owners that .github/CODEOWNERS names for each.
All owners: @revolucare/lead-developers, @revolucare/frontend-team, @revolucare/backend-team, @revolucare/database-team, @revolucare/ai-team, @revolucare/devops-team, @revolucare/tech-writers, @revolucare/security-team, @revolucare/qa-team

Add public-samples/revolucare-wrlylc/src/backend/src/types/user.types.ts
  src/backend/src/types/user.types.ts
Owners: @revolucare/backend-team

Add public-samples/revolucare-wrlylc/src/backend/src/utils/date-time.ts
  src/backend/src/utils/date-time.ts
Owners: @revolucare/backend-team

Add public-samples/revolucare-wrlylc/src/backend/src/utils/error-handler.ts
  src/backend/src/utils/error-handler.ts
Owners: @revolucare/backend-team

Add public-samples/revolucare-wrlylc/src/backend/src/utils/file-processor.ts
  src/backend/src/utils/file-processor.ts
Owners: @revolucare/backend-team

Add public-samples/revolucare-wrlylc/src/backend/src/utils/geo.ts
  src/backend/src/utils/geo.ts
Owners: @revolucare/backend-team

Add public-samples/revolucare-wrlylc/src/backend/src/utils/logger.ts
  src/backend/src/utils/logger.ts
Owners: @revolucare/backend-team

Add public-samples/revolucare-wrlylc/src/backend/src/utils/rate-limiter.ts
  src/backend/src/utils/rate-limiter.ts
Owners: @revolucare/backend-team

Add public-samples/revolucare-wrlylc/src/backend/src/utils/security.ts
  src/backend/src/utils/security.ts
Owners: @revolucare/security-team

Add public-samples/revolucare-wrlylc/src/backend/src/utils/token-manager.ts
  src/backend/src/utils/token-manager.ts
Owners: @revolucare/backend-team

Add public-samples/revolucare-wrlylc/src/backend/src/utils/validation.ts
  src/backend/src/utils/validation.ts
Owners: @revolucare/backend-team

Add public-samples/revolucare-wrlylc/src/backend/src/websockets/authentication.socket.ts
  src/backend/src/websockets/authentication.socket.ts
Owners: @revolucare/backend-team

Add public-samples/revolucare-wrlylc/src/backend/src/websockets/availability.socket.ts
  src/backend/src/websockets/availability.socket.ts
Owners: @revolucare/backend-team

Add public-samples/revolucare-wrlylc/src/backend/src/websockets/index.ts
  src/backend/src/websockets/index.ts
Owners: @revolucare/backend-team

Add public-samples/revolucare-wrlylc/src/backend/src/websockets/notification.socket.ts
  src/backend/src/websockets/notification.socket.ts
Owners: @revolucare/backend-team

Add public-samples/revolucare-wrlylc/src/backend/tests/fixtures/care-plans.fixture.ts
  src/backend/tests/fixtures/care-plans.fixture.ts
Owners: @revolucare/qa-team, @revolucare/backend-team

Add public-samples/revolucare-wrlylc/src/backend/tests/fixtures/documents.fixture.ts
  src/backend/tests/fixtures/documents.fixture.ts
Owners: @revolucare/qa-team, @revolucare/backend-team

Add public-samples/revolucare-wrlylc/src/backend/tests/fixtures/notifications.fixture.ts
  src/backend/tests/fixtures/notifications.fixture.ts
Owners: @revolucare/qa-team, @revolucare/backend-team

Add public-samples/revolucare-wrlylc/src/backend/tests/fixtures/providers.fixture.ts
  src/backend/tests/fixtures/providers.fixture.ts
Owners: @revolucare/qa-team, @revolucare/backend-team

Add public-samples/revolucare-wrlylc/src/backend/tests/fixtures/services-plans.fixture.ts
  src/backend/tests/fixtures/services-plans.fixture.ts
Owners: @revolucare/qa-team, @revolucare/backend-team

Add public-samples/revolucare-wrlylc/src/backend/tests/fixtures/users.fixture.ts
  src/backend/tests/fixtures/users.fixture.ts
Owners: @revolucare/qa-team, @revolucare/backend-team

Add public-samples/revolucare-wrlylc/src/backend/tests/integration/api/analytics.api.test.ts
  src/backend/tests/integration/api/analytics.api.test.ts
Owners: @revolucare/qa-team, @revolucare/backend-team

Add public-samples/revolucare-wrlylc/src/backend/tests/integration/api/auth.api.test.ts
  src/backend/tests/integration/api/auth.api.test.ts
Owners: @revolucare/qa-team, @revolucare/backend-team

Add public-samples/revolucare-wrlylc/src/backend/tests/integration/api/care-plans.api.test.ts
  src/backend/tests/integration/api/care-plans.api.test.ts
Owners: @revolucare/qa-team, @revolucare/backend-team

Add public-samples/revolucare-wrlylc/src/backend/tests/integration/api/documents.api.test.ts
  src/backend/tests/integration/api/documents.api.test.ts
Owners: @revolucare/qa-team, @revolucare/backend-team

Add public-samples/revolucare-wrlylc/src/backend/tests/integration/api/notifications.api.test.ts
  src/backend/tests/integration/api/notifications.api.test.ts
Owners: @revolucare/qa-team, @revolucare/backend-team

Add public-samples/revolucare-wrlylc/src/backend/tests/integration/api/providers.api.test.ts
  src/backend/tests/integration/api/providers.api.test.ts
Owners: @revolucare/qa-team, @revolucare/backend-team

Add public-samples/revolucare-wrlylc/src/backend/tests/integration/api/services-plans.api.test.ts
  src/backend/tests/integration/api/services-plans.api.test.ts
Owners: @revolucare/qa-team, @revolucare/backend-team

Add public-samples/revolucare-wrlylc/src/backend/tests/integration/api/users.api.test.ts
  src/backend/tests/integration/api/users.api.test.ts
Owners: @revolucare/qa-team, @revolucare/backend-team

Add public-samples/revolucare-wrlylc/src/backend/tests/integration/services/ai-services.test.ts
  src/backend/tests/integration/services/ai-services.test.ts
Owners: @revolucare/qa-team, @revolucare/backend-team

Add public-samples/revolucare-wrlylc/src/backend/tests/integration/services/calendar-integration.test.ts
  src/backend/tests/integration/services/calendar-integration.test.ts
Owners: @revolucare/qa-team, @revolucare/backend-team

Add public-samples/revolucare-wrlylc/src/backend/tests/integration/services/notification-services.test.ts
  src/backend/tests/integration/services/notification-services.test.ts
Owners: @revolucare/qa-team, @revolucare/backend-team

Add public-samples/revolucare-wrlylc/src/backend/tests/integration/services/payment-processing.test.ts
  src/backend/tests/integration/services/payment-processing.test.ts
Owners: @revolucare/qa-team, @revolucare/backend-team

Add public-samples/revolucare-wrlylc/src/backend/tests/integration/services/storage-services.test.ts
  src/backend/tests/integration/services/storage-services.test.ts
Owners: @revolucare/qa-team, @revolucare/backend-team

Add public-samples/revolucare-wrlylc/src/backend/tests/mocks/ai.mock.ts
  src/backend/tests/mocks/ai.mock.ts
Owners: @revolucare/qa-team, @revolucare/backend-team

Add public-samples/revolucare-wrlylc/src/backend/tests/mocks/calendar.mock.ts
  src/backend/tests/mocks/calendar.mock.ts
Owners: @revolucare/qa-team, @revolucare/backend-team

Add public-samples/revolucare-wrlylc/src/backend/tests/mocks/database.mock.ts
  src/backend/tests/mocks/database.mock.ts
Owners: @revolucare/qa-team, @revolucare/backend-team

Add public-samples/revolucare-wrlylc/src/backend/tests/mocks/email.mock.ts
  src/backend/tests/mocks/email.mock.ts
Owners: @revolucare/qa-team, @revolucare/backend-team

Add public-samples/revolucare-wrlylc/src/backend/tests/mocks/payment.mock.ts
  src/backend/tests/mocks/payment.mock.ts
Owners: @revolucare/qa-team, @revolucare/backend-team

Add public-samples/revolucare-wrlylc/src/backend/tests/mocks/redis.mock.ts
  src/backend/tests/mocks/redis.mock.ts
Owners: @revolucare/qa-team, @revolucare/backend-team

Add public-samples/revolucare-wrlylc/src/backend/tests/mocks/sms.mock.ts
  src/backend/tests/mocks/sms.mock.ts
Owners: @revolucare/qa-team, @revolucare/backend-team

.github/CODEOWNERS:

# This file defines who is responsible for code in the repository
# Format: file_pattern @username_or_team

# Default owners for everything in the repo
* @revolucare/lead-developers

# Frontend code ownership
src/web/ @revolucare/frontend-team
src/web/components/ @revolucare/frontend-team
src/web/app/ @revolucare/frontend-team
src/web/lib/ @revolucare/frontend-team
src/web/hooks/ @revolucare/frontend-team
src/web/styles/ @revolucare/frontend-team
src/web/public/ @revolucare/frontend-team
src/web/types/ @revolucare/frontend-team @revolucare/backend-team

# Backend code ownership
src/backend/ @revolucare/backend-team
src/backend/src/api/ @revolucare/backend-team
src/backend/src/services/ @revolucare/backend-team
src/backend/src/models/ @revolucare/backend-team
src/backend/prisma/ @revolucare/backend-team @revolucare/database-team

# AI services ownership
src/backend/src/services/ai/ @revolucare/ai-team @revolucare/backend-team
src/backend/src/integrations/openai.ts @revolucare/ai-team
src/backend/src/integrations/azure-form-recognizer.ts @revolucare/ai-team

# Infrastructure and DevOps
infrastructure/ @revolucare/devops-team
.github/workflows/ @revolucare/devops-team
docker/ @revolucare/devops-team

# Documentation
*.md @revolucare/tech-writers @revolucare/lead-developers
docs/ @revolucare/tech-writers

# Security-sensitive areas
src/backend/src/config/ @revolucare/security-team @revolucare/backend-team
src/backend/src/utils/security.ts @revolucare/security-team
src/web/lib/auth/ @revolucare/security-team @revolucare/frontend-team

# Test files
src/backend/tests/ @revolucare/qa-team @revolucare/backend-team
src/web/__tests__/ @revolucare/qa-team @revolucare/frontend-team

# Package management
package.json @revolucare/lead-developers
package-lock.json @revolucare/lead-developers
src/web/package.json @revolucare/frontend-team @revolucare/lead-developers
src/backend/package.json @revolucare/backend-team @revolucare/lead-developers

# Configuration files
*.config.js @revolucare/lead-developers
*.config.ts @revolucare/lead-developers
.env.example @revolucare/security-team @revolucare/lead-developers

# This file
.github/CODEOWNERS @revolucare/lead-developers
